HAMANO_GIT/services/airport_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="airport"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getAirportInformationByISOCountryCodeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAirportInformationByISOCountryCodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getAirportInformationByISOCountryCodeRequest">
		<wsdl:part name="parameters" element="tns:getAirportInformationByISOCountryCodeRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAirportInformationByISOCountryCodeResponse">
		<wsdl:part name="parameters" element="tns:getAirportInformationByISOCountryCodeResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="airportPortType">
		<wsdl:operation name="getAirportInformationByISOCountryCode">
			<wsdl:input message="tns:getAirportInformationByISOCountryCodeRequest"></wsdl:input>
			<wsdl:output message="tns:getAirportInformationByISOCountryCodeResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="airportSoap" type="tns:airportPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAirportInformationByISOCountryCode">
			<soap:operation soapAction="http://www.talend.org/service/getAirportInformationByISOCountryCode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="airport">
		<wsdl:port name="airportPort" binding="tns:airportSoap">
			<soap:address location="http://localhost:8090/services/airport" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>